<!-- Template index.html with all needed endpoints -->
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Play code names online with your family/friends across multiple different devices on the same board!"
    />
    <meta
      name="keywords"
      content="codenames, code names, board game, card game, spymaster, operatives, online"
    />
    <meta name="robot" content="index, follow" />
    <link rel="stylesheet" href="style.css" />
    <script type="module" src="scripts/client.js"></script>
    <script type="module" src="scripts/utils.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <header>
      <h1>Codenames</h1>
      <h2 id="turn" style="color: red">Game has not started</h2>
      <span id="host-name">HostName:</span><h4 id="host-name-span"></h4>
      <button class="btn" id="start-game">START GAME</button>
      <button class="btn" id="reset-game">RESET GAME</button>
      <button class="btn" id="end-turn">END TURN</button>
    </header>

    <!-- Blue team -->
    <section id="blue-team">
      <div class="hide" id="blue-score">
        <h4>Blue score: <span id="blue-score-number"> </span></h4>
      </div>
      <h1>Blue team</h1>
      <button class="btn" id="join-blue-spy">Join as Spymaster</button>
      <div id="blue-spy"></div>
      <!-- If spymaster chosen additional box should be added -->
      <button class="btn" id="join-blue-op">Join as Operative</button>

      <!-- Show the list of blue players -->
      <h4>Blue team list</h4>
      <div id="blue-players"></div>
    </section>

    <section id="game-board">
      <div class="card" id="0"><p></p></div>
      <div class="card" id="1"><p></p></div>
      <div class="card" id="2"><p></p></div>
      <div class="card" id="3"><p></p></div>
      <div class="card" id="4"><p></p></div>
      <div class="card" id="5"><p></p></div>
      <div class="card" id="6"><p></p></div>
      <div class="card" id="7"><p></p></div>
      <div class="card" id="8"><p></p></div>
      <div class="card" id="9"><p></p></div>
      <div class="card" id="10"><p></p></div>
      <div class="card" id="11"><p></p></div>
      <div class="card" id="12"><p></p></div>
      <div class="card" id="13"><p></p></div>
      <div class="card" id="14"><p></p></div>
      <div class="card" id="15"><p></p></div>
      <div class="card" id="16"><p></p></div>
      <div class="card" id="17"><p></p></div>
      <div class="card" id="18"><p></p></div>
      <div class="card" id="19"><p></p></div>
      <div class="card" id="20"><p></p></div>
      <div class="card" id="21"><p></p></div>
      <div class="card" id="22"><p></p></div>
      <div class="card" id="23"><p></p></div>
      <div class="card" id="24"><p></p></div>
    </section>
    <!-- Red team -->
    <section id="red-team">
      <div class="hide" id="red-score">
        <h4>Blue score: <span id="red-score-number"> </span></h4>
      </div>
      <h1>Red team</h1>
      <button class="btn" id="join-red-spy">Join as Spymaster</button>
      <div id="red-spy"></div>
      <!-- If spymaster chosen additional box should be added -->
      <button class="btn" id="join-red-op">Join as Operative</button>

      <!-- Show the list of red players -->
      <h4>Red team list</h4>
      <div id="red-players"></div>
    </section>

    <section id="spectators">
      <h4>Spectator list:</h4>
      <div id="players"></div>
      <input id="name-input" class="hide" placeholder="Enter your namae" maxlength="25" />
      <button class="btn hide" id="name-btn">Submit</button>
    </section>

    <section class="" id="clue">
      <h2 class="hide" id="clue-message">
        The clue is <span id="clue-word">[word]</span>, There are
        <span id="clue-number">[number]</span> cards that go with this clue
      </h2>
      <div class="" id="clue-input-container">
        <input id="input-clue" placeholder="Enter your clue" />
        <input type = "number" id="input-clue-num"/>
        <button class="btn" id="clue-btn">Submit Clue</button>
      </div>
    </section>

    <section id="chat">
      <div class="chatbox" id="global-chat">
        <div id="global-message-box" class="message-box"></div>
        <div id="global-input-box">
          <textarea
            id="global-chat-input"
            rows="1"
            placeholder="global chat"
          ></textarea>
        </div>
      </div>

      <div class="chatbox" id="div-chat">
        <div id="team-message-box" class="message-box"></div>
        <div id="team-input-box">
          <textarea
            id="team-chat-input"
            rows="1"
            placeholder="team chat "
          ></textarea>
        </div>
      </div>
    </section>
  </body>
</html>
