

.hide{
  display: none;
}
#game-board {
  width: 500px;
  height: 300px;
	grid-area: gameboard;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.card {
	border: 2px solid black;
	border-radius: 5px;
	background-color: lightgrey;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: -webkit-transform 1s;
}

.card-red {
	background-color: red;
}

.card-blue {
	background-color: blue;
}

.card-yellow {
	background-color: yellow;
}
.card-black{
	background-color: blueviolet;
}